body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #1f2937;
}
.title{
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
    color: #ffb300;
    background-color: black;
    border-style: solid;
}
#scorePoint {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffe200;
    font-size: xx-large;
    border-style: solid;
}
#playerPoint {
    color: #b4b4ec;
    font-family: sans-serif;
    font-size: larger;
}
#cpuPoint {
    color: #ebb0b1;
    font-family: sans-serif;
    font-size: larger;
}
#choose {
    font-size: xx-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffb300;
    background-color: black;
    border-style: solid;
}
#box {
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
    background-color: black;   
    color: #1bdfff;
    border-style: solid;
}
img{
    width: 18em;
    height: 12em;
}
button{
    object-fit: cover;
}
#container{
    display: flex;
    justify-content: space-evenly;
    border-style: solid;
}
footer {
    display: flex;
    color: white;
    background-color: #1f2937;
    padding: 15px;
    justify-content: center;
    margin-top: auto;
}