body {
    min-height: 100vh;
    margin: 0;
}
header {
    background-color: aqua;
}
.title{
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
}
img{
    width: 10em;
    height: 8em;
}
#btn{
    object-fit: cover;
}
#container{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(10, 201, 20);
    padding: 14em;
}
#space{
    display: flex;
    flex-direction: column;
}
footer {
    display: flex;
    color: white;
    background-color: #1f2937;
    padding: 15px;
    justify-content: center;
    margin-top: auto;
}