body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
header {
    background-color: aqua;
}
.title{
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
}
img{
    width: 18em;
    height: 12em;
}
button{
    object-fit: cover;
}
#container{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(20 103 212);
    padding: 184px;
}
footer {
    display: flex;
    color: white;
    background-color: #1f2937;
    padding: 15px;
    justify-content: center;
    margin-top: auto;
}